<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <neurocheckoutconnector>
            <general>
                <api_endpoint></api_endpoint>
                <api_key></api_key>
                <shop_external_id></shop_external_id>
                <api_key_next></api_key_next>
                <api_key_rotation_id></api_key_rotation_id>
                <api_key_prev></api_key_prev>
                <api_key_prev_until>0</api_key_prev_until>
                <api_test_validated_at>0</api_test_validated_at>
                <api_test_validation_fingerprint></api_test_validation_fingerprint>
                <internal_secret></internal_secret>
                <opaque_recovery_links>1</opaque_recovery_links>
            </general>
            <ia>
                <recovery_enabled>1</recovery_enabled>
                <enable_discount>0</enable_discount>
                <min_cart_total>0</min_cart_total>
                <allow_guest>0</allow_guest>
                <no_discount_max>0</no_discount_max>
                <discount_5_min>0</discount_5_min>
                <discount_5_max>0</discount_5_max>
                <discount_10_min>0</discount_10_min>
                <max_discount_percent>12</max_discount_percent>
            </ia>
            <execution>
                <execution_mode>cron_module</execution_mode>
                <cron_interval_seconds>300</cron_interval_seconds>
                <debug_mode>0</debug_mode>
                <debug_advanced>0</debug_advanced>
                <cron_allowed_ips></cron_allowed_ips>
                <trusted_proxy_ips></trusted_proxy_ips>
                <cron_token></cron_token>
                <last_run>0</last_run>
                <telemetry_enabled>1</telemetry_enabled>
                <customer_journey_enabled>1</customer_journey_enabled>
                <event_retention_days>30</event_retention_days>
                <purge_batch_size>500</purge_batch_size>
                <cb_failure_threshold>5</cb_failure_threshold>
                <cb_cooldown_seconds>60</cb_cooldown_seconds>
            </execution>
        </neurocheckoutconnector>
    </default>
</config>
